<H3>Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto<H3>

<H2>Part1 & Part2<H2>

**_Here is the Part1 ang go down for Part2_**

<h1>Part1<h1>

In [1]:
import pandas as pd

**_Reading the table from wikipedia_**

In [5]:
link= "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df=pd.read_html(link,header=[0])
df1=df[0]
df1.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
df2=df1.rename(columns={"Postal Code":"PostalCode"})

In [8]:
df2.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

<h3>Removing the rows that doesn't have a Borough <h3>

In [11]:
df3=df2[df2.Borough!="Not assigned"]
df3.reset_index(drop=True,inplace=True)

In [12]:
df3.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [15]:
df3 = df3.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

<h2>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough<h2>

In [20]:
df3.loc[df3['Neighborhood'] == 'Not assigned','Neighborhood'] = df3['Borough']
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

<h3>Making the dataframe same as the question<h3>

In [24]:
columns = ["PostalCode", "Borough", "Neighborhood"]
problemdf = pd.DataFrame(columns=columns)

code_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for code in code_list:
    problemdf = problemdf.append(df3[df3["PostalCode"]==code], ignore_index=True)
    
problemdf

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

**_printing the shape_**

In [26]:
df3.shape

(103, 3)

<h1>Part2<h1>

<h3>Loading the location Dataset<h3>

In [28]:
df4=pd.read_csv("http://cocl.us/Geospatial_data")
df4.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
df4.rename(columns={"Postal Code":"PostalCode"},inplace= True)

In [32]:
df4.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [35]:
print("the shape of first dataframe is {} the shape of second dataframe s{}".format(df3.shape[0],df4.shape[0]))

the shape of first dataframe is 103 the shape of second dataframe s103

<h3>Merging the two dataframes<h3>

In [37]:
df5 = pd.merge(left=df3,right=df4,on='PostalCode')
df5.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [41]:
df5.shape

(103, 5)

<h3>TO check whether resuts come same as the questions or not<h3>

In [42]:
columns = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
problem_df2 = pd.DataFrame(columns=columns)

code_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for code in code_list:
    problem_df2 = problem_df2.append(df5[df5["PostalCode"]==code], ignore_index=True)

problem_df2

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har...",43.628947,-79.394420
10,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
11,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636